<link rel="stylesheet" href="/css/styles.css" />
<!-- footer -->
<footer class="footer">
  <div class="section-center">
    <div class="social-icon">
      <!-- social icon -->
      <a href="#"><i class="fab fa-facebook"></i></a>
      <!-- end of social icon -->
      <!-- social icon -->
      <a href="#"><i class="fab fa-twitter"></i></a>
      <!-- end of social icon -->
      <!-- social icon -->
      <a href="#"><i class="fab fa-instagram"></i></a>
      <!-- end of social icon -->
    </div>
    <h4 class="footer-text">
      &copy;<span id="date"></span>
      <span class="company">devoutsource</span>
      <span>all rights reserved</span>
    </h4>
  </div>
</footer>
<!-- end of footer -->
