<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= title %></title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="/fontawesome-free-5.12.1-web/css/all.min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- navbar -->
    <!-- nav-button -->
    <span class="nav-btn" id="nav-btn"><i class="fas fa-bars"></i></span>
    <nav class="navbar" id="navbar">
      <div class="navbar-header">
        <span class="nav-close" id="nav-close"
          ><i class="fas fa-times"></i
        ></span>
      </div>
      <ul class="nav-items">
        <li><a href="/" class="nav-link">home</a></li>
        <li><a href="#" class="nav-link">about us</a></li>
        <li><a href="#" class="nav-link">refer project</a></li>
        <li><a href="#" class="nav-link">refer freelancers</a></li>
      </ul>
    </nav>
    <!-- end of navbar -->
    <!-- header -->
    <header class="header">
      <div class="banner">
        
        <h1>devoutsource</h1>
        <h3>hire the best freelance tech expert within 48 hours</h3>
        
    </header>
    <div class="content-divider"></div>

 <!-- services -->
    <section class="services">
      <!-- section title -->
      <div class="section-title services-title">
        <h3>explore</h3>
        <h2>Hire tech experts</h2>
      </div>
      <!-- end of section title -->
      <div class="section-center clearfix">
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="/images/cl1.jpg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa-solid fa-business-time"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>developers</h4>
            <p>
              Highly skilled Front-end, Back-end and Full-Stack Developers and DevOps covering all relevant programming languages and frameworks
            </p>
            <!-- <a href="#" class="btn service-btn">read more</a> -->
          </div>
        </article>
        <!--end of  single card -->
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="/images/cl2.jpg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa-solid fa-business-time"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>data SCIENTIST</h4>
            <p>
             World-class Data Experts that help your business effectively gather and analyze data in order to enable fact-based decision making
            </p>
            <!-- <a href="#" class="btn service-btn">read more</a> -->
          </div>
        </article>
        <!--end of  single card -->
        <!-- single card -->
        <article class="service-card">
          <!-- img container -->
          <div class="service-img-container">
            <!-- img -->
            <img
              src="/images/cl3.jpg"
              class="service-img"
              alt="single service"
            />
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa-solid fa-business-time"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>designers</h4>
            <p>
              Experienced Web and Mobile UI/UX Designers. We also provide you with Graphic and Information Designer as well as Illustrators.
            </p>
            <!-- <a href="#" class="btn service-btn">read more</a> -->
          </div>
        </article>
        <!--end of  single card -->
      </div>
    </section>
    <!-- end of services -->
    <!-- products -->
    <section class="products">
      <div class="section-center clearfix">
        <!-- products info -->
        <article class="products-info">
          <!-- section title -->
          <div class="section-title">
            <h3>check out</h3>
            <h2>How we work</h2>
          </div>
          <!-- end of section title -->
          <p class="product-text">
            We enable your project’s success by finding the tech experts that
            best fit to your challenge in short time and with personal
            assistance.
          </p>
          <a href="#" class="btn">know more</a>
        </article>
        <!-- products inventory -->
        <article class="products-inventory clearfix">
          <!-- single product -->
          <div class="product">
            <!-- <img
              src="../assets/images/logo1.png"
              alt="single product"
              class="product-img"
            /> -->
            <h4 class="product-title">FREE ENQUIRY</h4>
            <p class="product-price">
              Present whatever tech issue is facing you as a challenge on
              devoutsource website and wait for us to get back to you within 1
              hour with the well-formed solutions. We will begin working and
              give you rest from the tech issue disturbing or stressing you.
            </p>
          </div>
          <!-- end of single product -->
          <!-- single product -->
          <div class="product">
            <!-- <img
              src="./images/product-2.jpeg"
              alt="single product"
              class="product-img"
            /> -->
            <h4 class="product-title">FAST MATCHING</h4>
            <p class="product-price">
              With a number of tech specialists available at our call, we will
              have you pick a specialist of your choice within 48hours of your
              choosing Devoutsource.
            </p>
          </div>
          <!-- end of single product -->
          <!-- single product -->
          <div class="product">
            <!-- <img
              src="./images/product-3.jpeg"
              alt="single product"
              class="product-img"
            /> -->
            <h4 class="product-title">RISK FREE TRIAL</h4>
            <p class="product-price">
              While there will hardly be an opening for discontent, we have
              measures in place to help counter dissatisfaction putting client
              satisfaction on our top list. In the rare chance that you are
              unsatisfied, we will offer you a substitution and cover the
              previous expenses.
            </p>
          </div>
          <!-- end of single product -->
        </article>
      </div>
    </section>
    <!-- end of products -->

    <!-- services -->

    <section class="services">
      <!-- section title -->
      <div class="section-title services-title">
        <h3>explore</h3>
        <h2>A TOP TECH ORGANIZATION OF PROFESSIONAL EXPERTS</h2>
        <p>
          We offer exceptional, quality filled services through our community of
          tech experts.
        </p>
      </div>
      <!-- end of section title -->
      <div class="section-center clearfix">
        <!-- single card -->
        <article class="service card">
          <div class="service-img-container">
            <!-- image -->
            <!-- <img src="./images/product-1.jpeg" class="service-img" alt="" /> -->
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>DEVELOPERS</h4>
            <p>
              We have engaged the services of talented developers with excellent
              expertise in programming and its systems.
            </p>
            <!-- <a href="#">read more</a> -->
          </div>
        </article>
        <!-- end of single card -->
        <!-- single card -->
        <article class="service card">
          <div class="service-img-container">
            <!-- image -->
            <!-- <img src="./images/product-2.jpeg" class="service-img" alt="" /> -->
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>DATA SCIENTIST</h4>
            <p>
              If it is anything about data; our professional data experts are up
              to the case as they can and will turn your disturbing mountain
              into a plain ground.
            </p>
            <!-- <a href="#">read more</a> -->
          </div>
        </article>
        <!-- end of single card -->
        <!-- single card -->
        <article class="service card">
          <div class="service-img-container">
            <!-- image -->
            <!-- <img src="./images/product-3.jpeg" class="service-img" alt="" /> -->
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>DESIGNER</h4>
            <p>
              We offer a wide range of UI/UX designs through exceptional,
              professional designers. We also offer fabulous, effective graphic
              designs through Illustrators.
            </p>
            <!-- <a href="#">read more</a> -->
          </div>
        </article>
        <!-- end of single card -->
        <!-- single card -->
        <article class="service card">
          <div class="service-img-container">
            <!-- image -->
            <!-- <img src="./images/product-3.jpeg" class="service-img" alt="" /> -->
            <!-- service icon -->
            <span class="service-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
          <!-- service info -->
          <div class="service-info">
            <h4>
              <!-- single card -->
              <article class="service card">
                <div class="service-img-container">
                  <!-- image -->
                  <!-- <img src="./images/product-3.jpeg" class="service-img" alt="" /> -->
                  <!-- service icon -->
                </div>
                <!-- service info -->
                <div class="service-info">
                  <h4>PENETRATION TESTER</h4>

                  <!-- <a href="#">read more</a> -->
                </div>
              </article>
              <!-- end of single card -->
            </h4>
            <p>
              Proficient analyzers that search for and discover weaknesses in
              programs. They also provide a method on how the program can be
              reformed
            </p>
            <!-- <a href="#">read more</a> -->
          </div>
        </article>
        <!-- end of single card -->
      </div>
    </section>
    <!-- end of services -->

    <!-- contact form -->
    <div class="contact">
      <div class="section-center clearfix">
        <p class="alert" style="color: #3d9970"></p>
        <!-- contact-info -->
        <article class="contact-info">
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"
                ><i class="fas fa-location-arrow"></i></span
              >address
            </h4>
            <h4 class="contact-text">schlossstr.30 16909 OT freyenstein</h4>
          </div>
          <!-- end of contact item -->
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"><i class="fas fa-envelope"></i></span
              >email
            </h4>
            <h4 class="contact-text">ssinha@nepeuro.com</h4>
          </div>
          <!-- end of contact item -->
          <!-- contact-item -->
          <div class="contact-item">
            <h4 class="contact-title">
              <span class="contact-icon"><i class="fas fa-phone"></i></span
              >telephone
            </h4>
            <h4 class="contact-text">+49 177 664 892 368</h4>
          </div>
          <!-- end of contact item -->
        </article>

        <!-- contact-form -->
        <article class="contact-form">
          <h3>Want to learn more about our offer?</h3>
          <form action="/create" method="POST">
            <div class="form-group">
              <!-- inputs -->
              <input
                type="text"
                placeholder="full name"
                class="form-control"
                name="name"
                required
              />

              <input
                type="email"
                placeholder="business E-mail"
                class="form-control"
                name="email"
                required
              />
              <input
                type="number"
                placeholder="phone number"
                class="form-control"
                name="phone"
                required
              />
              <input
                type="text"
                placeholder="company name"
                class="form-control"
                name="cName"
                required
              />
            </div>
            <!-- button -->
            <button type="submit" class="submit-btn btn">submit</button>
          </form>
        </article>
      </div>
    </div>
    <!-- end of contact form -->


    <!-- footer -->
    <!-- <footer class="footer">
      <div class="section-center">
        <div class="social-icon">
          <!-- social icon -->
    <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
    <!-- end of social icon -->
    <!-- social icon -->
    <!-- <a href="#"><i class="fab fa-twitter"></i></a> -->
    <!-- end of social icon -->
    <!-- social icon -->
    <!-- <a href="#"><i class="fab fa-instagram"></i></a> -->
    <!-- end of social icon -->
    <!-- </div>
        <h4 class="footer-text">
          &copy;<span id="date"></span>
          <span class="company">devoutsource</span>
          <span>all rights reserved</span>
        </h4>
      </div>
    </footer>  -->
    <%- include('_footer'); %>
    <!-- end of footer -->
    <script src="/js/app.js"></script>
  </body>
</html>
